<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Bienvenido a Coinwise</h1>
                <p class="fs-4">Descubre una amplia selección de cursos en línea sobre finanzas personales, inversiones y presupuesto. Aprende a tu propio ritmo y adquiere las habilidades necesarias para tomar decisiones financieras inteligentes en CoinWise.</p>
                <a class="btn btn-primary btn-lg" href="#!">Call to action</a>
            </div>
        </div>
    </div>
</header>
<!-- Page Content-->
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="fa fa-video"></i></div>
                        <h2 class="fs-4 fw-bold">Fundamentos de Finanzas Personales</h2>
                        <p class="mb-0">Aprende a administrar eficientemente tus ingresos, presupuestar, controlar gastos y planificar tu futuro financiero.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="fa fa-video"></i></div>
                        <h2 class="fs-4 fw-bold">Educación Financiera para Emprendedores</h2>
                        <p class="mb-0"> Adquiere conocimientos esenciales para administrar las finanzas de tu negocio, incluyendo presupuesto, flujo de efectivo y financiamiento.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="fa fa-video"></i></div>
                        <h2 class="fs-4 fw-bold">Gestión de Deudas</h2>
                        <p class="mb-0">Obtén herramientas para manejar deudas de manera efectiva, reducir gastos, mejorar tu crédito y planificar la liquidación de préstamos.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="fa fa-video"></i></div>
                        <h2 class="fs-4 fw-bold">Planificación de Impuestos</h2>
                        <p class="mb-0">Obtén conocimientos sobre estrategias fiscales, deducciones y optimización de impuestos para maximizar tus recursos financieros.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="fa fa-video"></i></div>
                        <h2 class="fs-4 fw-bold">Gestión del Patrimonio</h2>
                        <p class="mb-0">Descubre cómo administrar de manera efectiva el patrimonio personal o familiar, incluyendo inversiones, planificación de sucesiones y estrategias de protección de activos.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="fa fa-video"></i></div>
                        <h2 class="fs-4 fw-bold">Finanzas Sostenibles</h2>
                        <p class="mb-0">Explora las prácticas financieras y de inversión que promueven la sostenibilidad ambiental, social y de gobernanza (ESG) para un futuro más responsable.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>

